.btn{
  //font-weight: initial;
  height: 55px;
  //min-width: 140px !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  transition: all .3s linear;
  //overflow: hidden !important;

  .mat-button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    transition: all 0.1s;
  }
  .mat-button-focus-overlay{
    transition: all 0.4s;
    opacity: 1 !important;
    width: 0;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    //transform: translateX(-100%);
  }

  &.square{
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
    &.large{
      min-width: 55px !important;
      width: 55px !important;
      height: 55px !important;
    }
    &.small{
      min-width: 30px !important;
      width: 30px !important;
      height: 30px !important;
      .sfi{
        font-size: 1rem;
      }
    }
    &.x-small{
      min-width: 26px !important;
      width: 26px !important;
      height: 26px !important;
      .sfi{
        font-size: 1rem;
      }
    }
  }

  &.mat-stroked-button{
    border-width: 2px;
    border-style: solid;
    &:hover{
      .mat-button-focus-overlay{
        width: calc(100% + 2px);
      }
    }
    .mat-button-focus-overlay{
      width: 0;
    }

    //&.mat-button-base{
    //  border-color: $coral;
    //  color: $coral;
    //  .mat-button-focus-overlay{
    //    background-color: $coral;
    //  }
    //  &:hover{
    //    color: $white;
    //  }
    //}



    @include gen-buttons('stroked');

    &:disabled {
      background-color: transparent !important;
      border: 2px solid $dark-gray !important;
      color: $dark-gray !important;
      opacity: 1 !important;
      cursor: not-allowed !important;

      .mat-button-focus-overlay{
        display: none !important;
      }
    }
  }

  &.mat-flat-button{
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    &:hover{
      .mat-button-focus-overlay{
        width: 0;
      }
    }
    .mat-button-focus-overlay{
      width: calc(100% + 4px);
    }

    //&.mat-button-base{
    //  border-color: $coral;
    //  color: $white;
    //  .mat-button-focus-overlay{
    //    background-color: $coral;
    //  }
    //  &:hover{
    //    color: $coral;
    //  }
    //}


    @include gen-buttons('flat');
  }

  &.mat-icon-button{
    border-width: 0;
    @extend .square;
    .sfi{
      font-size: 1.3rem;
    }
    .mat-button-focus-overlay{
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
    }
    @include gen-buttons('square');
    &.button-transparent{
      color: $onyx !important;
      background-color: transparent !important;
      .mat-button-focus-overlay{
        background-color: transparent;
      }
    }
    &:hover{
      .mat-button-focus-overlay{
        opacity: .9 !important;
        width: 0;
      }
    }
  }
  &.button-transparent{
    color: inherit !important;
  }
  &:disabled {
    background-color: $light-gray !important;
    border: 2px solid $light-gray !important;
    color: $dark-gray !important;
    opacity: 1 !important;
    cursor: not-allowed !important;

    .mat-button-focus-overlay{
      display: none !important;
    }
  }

}






