<div class="popup-container">
  <mat-dialog-content class="border-0">
    <div class="px-3 pt-5 text-center">
      <img src="assets/images/cancel.svg" alt="">
      <h1 class="font-29 font-md-20 font-weight-medium text-color-onyx mt-4">Are you sure to cancel event invitation?</h1>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="default-footer p-4">
    <div class="d-flex align-items-center justify-content-center w-100">
      <button mat-stroked-button class="btn button-primary" matDialogClose>Discard</button>
      <span class="mx-2"></span>
      <button mat-flat-button class="btn button-red" matDialogClose
      >Yes, Cancel</button>
    </div>
  </mat-dialog-actions>

</div>
