<div class="hub-container">
  <div class="general-box bg-color-primary-purple p-4 my-4">
    <section class="my-3">
      <div class="example-label">Stroked</div>
      <div class="example-button-row">
        <button mat-stroked-button class="btn">Basic</button>
        <span class="mx-2"></span>
        <button mat-stroked-button class="btn button-primary">Primary</button>
        <span class="mx-2"></span>
        <button mat-stroked-button class="btn button-white">Secondary</button>
        <span class="mx-2"></span>
        <button mat-stroked-button class="btn button-oasis-light">Save</button>
        <span class="mx-2"></span>
        <button mat-stroked-button class="btn button-sea-light">Save as draft</button>
        <span class="mx-2"></span>
        <button mat-stroked-button class="btn button-danger">Cancel</button>
        <span class="mx-2"></span>
        <button mat-stroked-button class="btn button-danger" disabled>Disabled</button>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section class="my-3">
      <div class="example-label">Flat</div>
      <div class="example-button-row">
        <button mat-flat-button class="btn">Basic</button>
        <span class="mx-2"></span>
        <button mat-flat-button class="btn button-primary">Primary</button>
        <span class="mx-2"></span>
        <button mat-flat-button class="btn button-white">Secondary</button>
        <span class="mx-2"></span>
        <button mat-flat-button class="btn button-oasis-light">Save</button>
        <span class="mx-2"></span>
        <button mat-flat-button class="btn button-sea-light">Save as draft</button>
        <span class="mx-2"></span>
        <button mat-flat-button class="btn button-danger">Cancel</button>
        <span class="mx-2"></span>
        <button mat-flat-button class="btn button-danger" disabled>Disabled</button>

      </div>
    </section>

    <mat-divider></mat-divider>
    <section class="my-3">
      <div class="example-label">Square</div>
      <div class="example-button-row">
        <button mat-icon-button class="btn button-primary" type="button"><span class="sfi sfi-trash"></span></button>
        <span class="mx-2"></span>
        <button mat-icon-button class="btn button-danger" type="button"><span class="sfi sfi-trash"></span></button>
        <span class="mx-2"></span>
        <button mat-icon-button class="btn button-sea-light" type="button"><span class="sfi sfi-pen"></span></button>
        <span class="mx-2"></span>
        <button mat-icon-button class="btn button-secondary-purple" type="button"><span class="sfi sfi-eye"></span></button>
        <span class="mx-2"></span>
        <button mat-icon-button class="btn button-light-gray" type="button"><span class="sfi sfi-arrow"></span></button>
        <span class="mx-2"></span>
        <button mat-icon-button class="btn button-oasis-light" type="button"><span class="sfi sfi-plus"></span></button>
        <span class="mx-2"></span>
        <button mat-icon-button class="btn button-oasis-light"
                type="button" disabled><span class="sfi sfi-plus"></span></button>

      </div>
    </section>

  </div>
</div>
