@use 'sass:math';

@mixin fonts {
  @for $i from 7 through 90 {
    .font-#{$i} {
      font-size: unquote(math.div($i, $font-size-base) + 'rem');
    }

    .font-#{$i}-imp {
      font-size: unquote(math.div($i, $font-size-base) + 'rem') !important;
    }

    @media(max-width: 768px) {
      .font-md-#{$i} {
        font-size: unquote(math.div($i, $font-size-base) + 'rem') !important;
      }
    }
  }
}

@include fonts;
