<mat-form-field class="date-range {{className}}">
  <label class="mat-form-content">
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
  </label>
  <mat-datepicker-toggle matSuffix [for]="picker" [disableRipple]="true">
    <i class="sfi sfi-calendar-o text-color-onyx font-18" matDatepickerToggleIcon></i>
  </mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>
