.page-title{
  display: flex;
  justify-content: space-between;
  h1{
    font-size: 1.6875rem;
    font-weight: $font-medium;
    color: $onyx;
    @include media-breakpoint-down(md){
      font-size: 1.2rem;
    }
  }
  .page-title-actions{
    .btn{
      min-width: 117px;
      height: 35px;
    }
  }
}
