.sfi-add-users:before {
  content: "\e9b8";
}
.sfi-add-whitelist:before {
  content: "\e9a4";
}
.sfi-amazon:before {
  content: "\ea87";
}
.sfi-android:before {
  content: "\eac0";
}
.sfi-appleinc:before {
  content: "\eabe";
}
.sfi-archive:before {
  content: "\e903";
}
.sfi-arrow:before {
  content: "\e90b";
}
.sfi-arrow-circle:before {
  content: "\e985";
}
.sfi-articles-f:before {
  content: "\e97a";
}
.sfi-articles-o:before {
  content: "\e979";
}
.sfi-aspect-ratio:before {
  content: "\e9b2";
}
.sfi-attach:before {
  content: "\e987";
}
.sfi-bag-2:before {
  content: "\e9c7";
}
.sfi-bag-f:before {
  content: "\e92d";
}
.sfi-bell-2-f:before {
  content: "\e9cc";
}
.sfi-bell-2-o:before {
  content: "\e9cd";
}
.sfi-bell-f:before {
  content: "\e977";
}
.sfi-bell-o:before {
  content: "\e976";
}
.sfi-bookmark-f:before {
  content: "\e975";
}
.sfi-bookmark-o:before {
  content: "\e974";
}
.sfi-broadcast:before {
  content: "\e988";
}
.sfi-building:before {
  content: "\e98a";
}
.sfi-building-1:before {
  content: "\e91a";
}
.sfi-burger-menu:before {
  content: "\e989";
}
.sfi-burger-menu-1:before {
  content: "\e924";
}
.sfi-calendar:before {
  content: "\e98b";
}
.sfi-calendar-f:before {
  content: "\e973";
}
.sfi-calendar-o:before {
  content: "\e972";
}
.sfi-call:before {
  content: "\e960";
}
.sfi-call-f:before {
  content: "\e900";
}
.sfi-call-mute:before {
  content: "\e98d";
}
.sfi-call-o:before {
  content: "\e901";
}
.sfi-camera-f:before {
  content: "\e971";
}
.sfi-camera-o:before {
  content: "\e970";
}
.sfi-card:before {
  content: "\e9c8";
}
.sfi-card-info:before {
  content: "\e909";
}
.sfi-caring:before {
  content: "\e908";
}
.sfi-cart:before {
  content: "\e969";
}
.sfi-case:before {
  content: "\e945";
}
.sfi-chart:before {
  content: "\e96a";
}
.sfi-chart-2:before {
  content: "\e91c";
}
.sfi-chart-f:before {
  content: "\2713";
}
.sfi-chart-o:before {
  content: "\e9c4";
}
.sfi-chat-2:before {
  content: "\e9c1";
}
.sfi-chat-3:before {
  content: "\e994";
}
.sfi-chat-circle-1:before {
  content: "\e98c";
}
.sfi-chat-circle-2:before {
  content: "\e906";
}
.sfi-chat-f:before {
  content: "\e96f";
}
.sfi-chat-o:before {
  content: "\e96e";
}
.sfi-chat-text-f:before {
  content: "\e96c";
}
.sfi-chat-text-o:before {
  content: "\e96b";
}
.sfi-check:before {
  content: "\e957";
}
.sfi-check-1:before {
  content: "\e982";
}
.sfi-check-circle:before {
  content: "\e929";
}
.sfi-check-circle-f:before {
  content: "\e938";
}
.sfi-check-circle-o:before {
  content: "\e937";
}
.sfi-check-square-f:before {
  content: "\e966";
}
.sfi-check-square-o:before {
  content: "\e965";
}
.sfi-chick-sqaure:before {
  content: "\e902";
}
.sfi-chrome:before {
  content: "\ead9";
}
.sfi-clock:before {
  content: "\e991";
}
.sfi-clock-1:before {
  content: "\e922";
}
.sfi-close:before {
  content: "\e992";
}
.sfi-close-circle:before {
  content: "\e993";
}
.sfi-close-sqaure:before {
  content: "\e904";
}
.sfi-cloud-computing:before {
  content: "\e9ce";
}
.sfi-combined-shape:before {
  content: "\e94b";
}
.sfi-contact-f:before {
  content: "\e968";
}
.sfi-contact-o:before {
  content: "\e967";
}
.sfi-cup:before {
  content: "\e91f";
}
.sfi-cup-o:before {
  content: "\e9d0";
}
.sfi-dashboard:before {
  content: "\e9ba";
}
.sfi-data:before {
  content: "\e978";
}
.sfi-dobox:before {
  content: "\e9bb";
}
.sfi-doc:before {
  content: "\e916";
}
.sfi-docx:before {
  content: "\e917";
}
.sfi-dots:before {
  content: "\e9bc";
}
.sfi-dots-1:before {
  content: "\e94e";
}
.sfi-dots-f:before {
  content: "\e94f";
}
.sfi-download:before {
  content: "\e90a";
}
.sfi-download-arrow:before {
  content: "\e905";
}
.sfi-dropbox:before {
  content: "\eaae";
}
.sfi-ecology:before {
  content: "\e90e";
}
.sfi-economy:before {
  content: "\e90f";
}
.sfi-edge:before {
  content: "\eadc";
}
.sfi-enhancing-economic:before {
  content: "\e912";
}
.sfi-error:before {
  content: "\e996";
}
.sfi-event:before {
  content: "\e9aa";
}
.sfi-excel-file:before {
  content: "\e9ca";
}
.sfi-external-link:before {
  content: "\e9cb";
}
.sfi-eye:before {
  content: "\e9ab";
}
.sfi-eye-1:before {
  content: "\e926";
}
.sfi-facebook:before {
  content: "\ea90";
}
.sfi-facebook-2:before {
  content: "\ea91";
}
.sfi-fax:before {
  content: "\e907";
}
.sfi-filter:before {
  content: "\e90c";
}
.sfi-fingerprint:before {
  content: "\e9a6";
}
.sfi-firefox:before {
  content: "\eada";
}
.sfi-fit-screen:before {
  content: "\e9b3";
}
.sfi-flag-f:before {
  content: "\e90d";
}
.sfi-flag-o:before {
  content: "\e910";
}
.sfi-folder:before {
  content: "\e911";
}
.sfi-folder-f:before {
  content: "\e95f";
}
.sfi-folder-o:before {
  content: "\e95e";
}
.sfi-gift-f:before {
  content: "\e95d";
}
.sfi-gift-o:before {
  content: "\e95c";
}
.sfi-github:before {
  content: "\eab0";
}
.sfi-globe:before {
  content: "\e9a7";
}
.sfi-google-plus:before {
  content: "\ea8b";
}
.sfi-google-plus-2:before {
  content: "\ea8c";
}
.sfi-google-plus-3:before {
  content: "\ea8d";
}
.sfi-hand-shake:before {
  content: "\e913";
}
.sfi-hangouts:before {
  content: "\ea8e";
}
.sfi-health:before {
  content: "\e9a8";
}
.sfi-heart:before {
  content: "\e914";
}
.sfi-help:before {
  content: "\e9a9";
}
.sfi-help-1:before {
  content: "\e999";
}
.sfi-history-2:before {
  content: "\e9d1";
}
.sfi-history1:before {
  content: "\e9e1";
}
.sfi-history-1:before {
  content: "\e9d8";
}
.sfi-home-dot:before {
  content: "\e9ac";
}
.sfi-home-f:before {
  content: "\e95b";
}
.sfi-home-o:before {
  content: "\e95a";
}
.sfi-idea:before {
  content: "\e915";
}
.sfi-ie:before {
  content: "\eadb";
}
.sfi-inbox:before {
  content: "\e9cf";
}
.sfi-info:before {
  content: "\e9d3";
}
.sfi-info-1:before {
  content: "\e99a";
}
.sfi-info-f:before {
  content: "\e936";
}
.sfi-info-o:before {
  content: "\e935";
}
.sfi-instagram:before {
  content: "\ea92";
}
.sfi-install:before {
  content: "\e9d4";
}
.sfi-internet:before {
  content: "\e9d5";
}
.sfi-jpg:before {
  content: "\e918";
}
.sfi-like-f:before {
  content: "\e956";
}
.sfi-like-o:before {
  content: "\e955";
}
.sfi-linkedin:before {
  content: "\eac9";
}
.sfi-linkedin-1:before {
  content: "\eaca";
}
.sfi-list-circles:before {
  content: "\e9e2";
}
.sfi-list-dots:before {
  content: "\e930";
}
.sfi-list-kanban:before {
  content: "\e9af";
}
.sfi-list-kanban-o:before {
  content: "\e958";
}
.sfi-location-arrow-f:before {
  content: "\e986";
}
.sfi-location-arrow-o:before {
  content: "\e927";
}
.sfi-location-f:before {
  content: "\e99d";
}
.sfi-location-o:before {
  content: "\e925";
}
.sfi-lock-f:before {
  content: "\e99e";
}
.sfi-lock-o:before {
  content: "\e919";
}
.sfi-logout:before {
  content: "\e99f";
}
.sfi-mail-f:before {
  content: "\e951";
}
.sfi-mail-o:before {
  content: "\e950";
}
.sfi-media-backward:before {
  content: "\e954";
}
.sfi-media-first:before {
  content: "\e961";
}
.sfi-media-forward:before {
  content: "\e962";
}
.sfi-media-last:before {
  content: "\e963";
}
.sfi-media-mute:before {
  content: "\e9a2";
}
.sfi-media-next:before {
  content: "\e964";
}
.sfi-media-pause:before {
  content: "\e96d";
}
.sfi-media-play:before {
  content: "\e98e";
}
.sfi-media-play1:before {
  content: "\e98f";
}
.sfi-media-previous:before {
  content: "\e990";
}
.sfi-mic:before {
  content: "\e9a0";
}
.sfi-network:before {
  content: "\e9d6";
}
.sfi-opera:before {
  content: "\eade";
}
.sfi-order:before {
  content: "\e9d7";
}
.sfi-paypal:before {
  content: "\ead8";
}
.sfi-pdf:before {
  content: "\e91b";
}
.sfi-pen:before {
  content: "\e9e3";
}
.sfi-pen-f:before {
  content: "\e94a";
}
.sfi-phone:before {
  content: "\e920";
}
.sfi-phone-2:before {
  content: "\e9a1";
}
.sfi-picture-in-picture:before {
  content: "\e9b4";
}
.sfi-picture-in-picture-alt:before {
  content: "\e9b5";
}
.sfi-pin:before {
  content: "\e9e4";
}
.sfi-pin-f:before {
  content: "\e9e5";
}
.sfi-pinterest:before {
  content: "\ead1";
}
.sfi-pinterest-1:before {
  content: "\ead2";
}
.sfi-plus:before {
  content: "\e9e6";
}
.sfi-plus-1:before {
  content: "\e97b";
}
.sfi-plus-square:before {
  content: "\e9c9";
}
.sfi-png:before {
  content: "\e91d";
}
.sfi-polls-f:before {
  content: "\e946";
}
.sfi-polls-o:before {
  content: "\e947";
}
.sfi-pptx:before {
  content: "\e91e";
}
.sfi-present:before {
  content: "\e9d9";
}
.sfi-print:before {
  content: "\e9e7";
}
.sfi-project:before {
  content: "\e9a5";
}
.sfi-promotion:before {
  content: "\e9ea";
}
.sfi-quality:before {
  content: "\e9eb";
}
.sfi-question-1:before {
  content: "\e921";
}
.sfi-quotation:before {
  content: "\e923";
}
.sfi-rearrange:before {
  content: "\e928";
}
.sfi-refresh:before {
  content: "\e9b9";
}
.sfi-renewable:before {
  content: "\e9e9";
}
.sfi-replay:before {
  content: "\e9bd";
}
.sfi-replay-5:before {
  content: "\e9be";
}
.sfi-reply-o:before {
  content: "\e942";
}
.sfi-resize:before {
  content: "\e9b6";
}
.sfi-resize-1:before {
  content: "\e9b7";
}
.sfi-road:before {
  content: "\e9ec";
}
.sfi-rss:before {
  content: "\ea9b";
}
.sfi-rss-2:before {
  content: "\ea9c";
}
.sfi-safari:before {
  content: "\eadd";
}
.sfi-satellite-dish:before {
  content: "\e92a";
}
.sfi-screen:before {
  content: "\e97e";
}
.sfi-screen-1:before {
  content: "\e94d";
}
.sfi-screen-2:before {
  content: "\e9df";
}
.sfi-search:before {
  content: "\e92b";
}
.sfi-search-1:before {
  content: "\e99b";
}
.sfi-search-analytics:before {
  content: "\e9ed";
}
.sfi-security:before {
  content: "\e9da";
}
.sfi-send-message:before {
  content: "\e93f";
}
.sfi-settings:before {
  content: "\e92c";
}
.sfi-share:before {
  content: "\e949";
}
.sfi-share-f:before {
  content: "\e9e8";
}
.sfi-share-network:before {
  content: "\e97c";
}
.sfi-share-o:before {
  content: "\e92e";
}
.sfi-share-up:before {
  content: "\e93e";
}
.sfi-shared-files:before {
  content: "\e97d";
}
.sfi-shopping-bag-f:before {
  content: "\e9c6";
}
.sfi-shopping-bag-o:before {
  content: "\e9db";
}
.sfi-cart-2:before {
  content: "\e9ee";
}
.sfi-sim-card:before {
  content: "\e9dc";
}
.sfi-skype:before {
  content: "\eac5";
}
.sfi-smile-emoji:before {
  content: "\e97f";
}
.sfi-spinner:before {
  content: "\e9d2";
}
.sfi-spotify:before {
  content: "\ea94";
}
.sfi-star-f:before {
  content: "\e981";
}
.sfi-star-o:before {
  content: "\e980";
}
.sfi-stc-logo-f:before {
  content: "\e93d";
}
.sfi-stc-logo-o:before {
  content: "\e93c";
}
.sfi-stc-profile-f:before {
  content: "\e93a";
}
.sfi-stc-profile-o:before {
  content: "\e939";
}
.sfi-stop-watch:before {
  content: "\e92f";
}
.sfi-sustainability:before {
  content: "\e931";
}
.sfi-sync:before {
  content: "\e932";
}
.sfi-tag-f:before {
  content: "\e934";
}
.sfi-tag-o:before {
  content: "\e933";
}
.sfi-taxi:before {
  content: "\e9ef";
}
.sfi-telegram:before {
  content: "\ea95";
}
.sfi-ticket:before {
  content: "\e9dd";
}
.sfi-todo:before {
  content: "\e93b";
}
.sfi-translate:before {
  content: "\e983";
}
.sfi-trash:before {
  content: "\e940";
}
.sfi-trash-1:before {
  content: "\e94c";
}
.sfi-trash-2:before {
  content: "\e984";
}
.sfi-trash-o:before {
  content: "\e941";
}
.sfi-twitch:before {
  content: "\ea9f";
}
.sfi-twitter:before {
  content: "\ea96";
}
.sfi-update:before {
  content: "\e9bf";
}
.sfi-upload-to-cloud:before {
  content: "\e943";
}
.sfi-url-o:before {
  content: "\e944";
}
.sfi-user:before {
  content: "\e948";
}
.sfi-user-f:before {
  content: "\e952";
}
.sfi-user-o:before {
  content: "\e953";
}
.sfi-users:before {
  content: "\e959";
}
.sfi-users-1:before {
  content: "\e998";
}
.sfi-users-f:before {
  content: "\e995";
}
.sfi-users-o:before {
  content: "\e997";
}
.sfi-vimeo:before {
  content: "\eaa0";
}
.sfi-vimeo-2:before {
  content: "\eaa1";
}
.sfi-vine:before {
  content: "\ea97";
}
.sfi-volume-decrease:before {
  content: "\e99c";
}
.sfi-volume-high:before {
  content: "\e9a3";
}
.sfi-volume-increase:before {
  content: "\e9ad";
}
.sfi-volume-low:before {
  content: "\e9ae";
}
.sfi-volume-medium:before {
  content: "\e9b0";
}
.sfi-volume-mute:before {
  content: "\e9b1";
}
.sfi-volume-mute1:before {
  content: "\e9c0";
}
.sfi-voucher:before {
  content: "\e9de";
}
.sfi-warning:before {
  content: "\e9c2";
}
.sfi-whatsapp:before {
  content: "\ea93";
}
.sfi-wifi:before {
  content: "\e9e0";
}
.sfi-windows8:before {
  content: "\eac2";
}
.sfi-xlsx:before {
  content: "\e9c3";
}
.sfi-youtube:before {
  content: "\ea9d";
}
.sfi-youtube-2:before {
  content: "\ea9e";
}
.sfi-zip:before {
  content: "\e9c5";
}
