<div class="popup-container">
  <div class="d-flex align-items-center" mat-dialog-title>
    <button class="mat-close-modal" *ngIf="data.backToAddEvent" matDialogClose>
      <span class="sfi sfi-arrow text-color-dark-gray arrow-left"></span>
    </button>
    <span class="mx-1" *ngIf="data.backToAddEvent"></span>
    <h3 class="mb-0 font-24 font-md-20 font-weight-semi-bold flex-grow-1">Add New Group</h3>
    <button class="mat-close-modal" matDialogClose>
      <span class="sfi sfi-close text-color-black"></span>
    </button>
  </div>
  <mat-dialog-content>
    <div class="px-md-3">
      <form autocomplete="off" class="row">
        <div class="col-12">
          <app-input label="Group Name" placeholder="Group Name" className="small-input"></app-input>
        </div>
        <div class="col-12 my-3">
          <app-custom-autocomplete className="small-input" [data]="users" [usersList]="true" label="Users" [showAddBtn]="false"></app-custom-autocomplete>
        </div>
      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="default-footer">
    <div class="d-flex flex-md-row flex-column align-items-center justify-content-between w-100">
      <button mat-flat-button class="btn button-transparent px-md-0 m-width-auto">
        <span class="text-color-red">Delete Group</span>
      </button>

      <div class="d-flex justify-content-md-end justify-content-center w-100">
        <button mat-stroked-button class="btn button-primary" matDialogClose>Cancel</button>
        <span class="mx-2"></span>
        <button mat-flat-button class="btn button-primary">Save</button>
      </div>
    </div>
  </mat-dialog-actions>

</div>
