<div class="popup-container">
  <div class="d-flex align-items-center justify-content-end" mat-dialog-title>
    <button class="mat-close-modal" matDialogClose>
      <span class="sfi sfi-close text-color-black"></span>
    </button>
  </div>
  <mat-dialog-content class="border-0 pt-0">
    <div class="d-flex flex-column align-items-center justify-content-center">
      <span class="sfi sfi-trash font-50 text-color-coral mb-2"></span>
      <h2 class="font-31 font-md-25 font-weight-bold text-color-onyx mb-0">
        Are you sure !
      </h2>
      <h4 class="font-15 font-weight-normal text-color-dark-gray mb-0">you want Delete This Car</h4>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="d-flex justify-content-center w-100 mb-4 px-md-5">
      <button class="btn button-secondary font-13 font-weight-medium h-51 w-100" matDialogClose>
        <span>Cancel</span>
      </button>
      <span class="mx-2"></span>
      <button class="btn button-primary font-13 font-weight-medium h-51 w-100">
        <span>Delete</span>
      </button>
    </div>
  </mat-dialog-actions>

</div>
