<div class="p-4">
  <h6 class="font-14 font-weight-bold mb-3">Upload Attachment</h6>

  <div class="row g-3">
    <div class="col-12">
      <app-docs-uploader styleHeight="medium" label="Event Material"></app-docs-uploader>
    </div>
    <div class="col-12">
      <app-docs-uploader styleHeight="medium" label="Event Minutes  "></app-docs-uploader>
    </div>
    <div class="col-12">
      <app-docs-uploader styleHeight="medium" label="Subsequent Attachments "></app-docs-uploader>
    </div>
    <div class="col-12">
      <app-docs-uploader styleHeight="medium" label="Circular resolution "></app-docs-uploader>
    </div>
  </div>

</div>
