<mat-sidenav-container>
  <mat-sidenav #sidenav fixedInViewport>
    <ng-container *ngComponentOutlet="sideContent"></ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav class="hub-nav bg-color-white">
      <div class="hub-container-fluid">
        <ul>
          <li>
            <a routerLink="all-events" routerLinkActive="active">All Events</a>
          </li>
          <li>
            <a routerLink="organizations" routerLinkActive="active">Organizations </a>
          </li>
          <li>
            <a routerLink="groups" routerLinkActive="active">Groups</a>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

