<div class="popup-container">
  <div class="d-flex align-items-center justify-content-between" mat-dialog-title>
    <h3 class="mb-0 font-24 font-md-20 font-weight-semi-bold flex-grow-1">Decline meeting</h3>
    <button class="mat-close-modal" matDialogClose>
      <span class="sfi sfi-close text-color-black"></span>
    </button>
  </div>
  <mat-dialog-content>
    <div class="px-md-3">
      <form autocomplete="off" class="row">
        <div class="col-12 my-3">
          <label class="form-label mb-2">Comment</label>
          <mat-form-field class="primary-form custom-textarea bordered h-95">
            <mat-label>Comment</mat-label>
            <label class="mat-form-content">
              <textarea matInput></textarea>
            </label>
          </mat-form-field>
        </div>
      </form>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="default-footer">
    <div class="d-flex align-items-center justify-content-center w-100">
      <button mat-stroked-button class="btn button-primary" matDialogClose>Cancel</button>
      <span class="mx-2"></span>
      <button mat-flat-button class="btn button-primary">Decline </button>
    </div>
  </mat-dialog-actions>

</div>
