@import "src/assets/scss/variables";
@import "~node_modules/bootstrap/scss/functions";
@import "~node_modules/bootstrap/scss/variables";
@import "~node_modules/bootstrap/scss/mixins";


:host{
  ::ng-deep{
    .section-title{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .filter-actions{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        //.filter-section:empty{
        //  display: none;
        //}
        @include media-breakpoint-down(sm){
          flex-direction: column;
          align-items: baseline;
        }
        .filter-section{
          width: 140px;
          .mat-form-field{
            .mat-form-field-wrapper{
              padding-bottom: 0;
            }
          }

        }
      }

      .header-actions{
        display: flex;
        align-items: center;
        margin: 15px -.5rem;
        .btn{
          margin: 0 .5rem;
          min-width: 175px;
        }
      }

    }
  }
}
